{% extends 'base.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('clienteForm', {defer: true}) }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('clienteForm') }}
{% endblock %}
{% block main %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="bookType/admin/" class="btn btn-secondary">Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
