{% extends 'base.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ url_for("dashboardIndex") }}"><span>Home</span></a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url_for("clientDashboard") }}"><span>Clientes</span></a>
    </li>
    <li class="breadcrumb-item active">
        <span>Formulario</span>
    </li>
{% endblock %}
{% block main %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
